body {
    background-color: black;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h3 {
    color: gold;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

nav {
    background-color: gold;
    color: black;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}


.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: gold;
    color: white;
}

/* Centrer l'image verticalement et horizontalement */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Ajouter un peu de padding pour l'espacement */
    box-sizing: border-box; /* Assurer que le padding soit inclus dans la taille totale */
}

/* Style de l'image avec bord arrondi et taille ajustée */
img {
    border-radius: 5%;       /* Bords arrondis à 5% */
    max-width: 100%;         /* Image limitée à 100% du conteneur */
    max-height: 100vh;       /* Limiter la hauteur maximale à celle de la fenêtre */
    width: auto;             /* Conserver la proportion de la largeur */
    height: auto;            /* Conserver la proportion de la hauteur */
}


/* Conteneur du carrousel */
.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

/* Les images du carrousel */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5%; /* Bord arrondi de 5% */
}

/* Boutons de navigation */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }
}